@import 'src/styles/variables';

.full {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .reg-form {
    width: 20%;

    .btn {
      display: flex;
      justify-content: flex-end;
    }

    .reg-links {
      margin-top: 1rem;
      font-size: 0.9rem;
      text-align: center;

      a {
        &:first-child {
          margin-right: .5rem;
        }
      }
    }
  }
}

button {
  font-family: $simple-text;
  border: none;
  background: transparent;
  color: white;
  border: 2px solid transparent;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  padding: .5rem;
  outline: none;

  &:hover {
    animation-name: HoverItemPulce;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border: 2px solid white;
  }
}
