<div class="pagination">
  <div class="pagination-wrapper" *ngIf="itemsCount">
    <a class="pagination-item" rel="prev"
      [routerLink]="prevPageItem.url"
      (click)="prevPage()">Назад</a>
    <div class="numbers-wrapper">
      <ex-button-decorator [activeIndex]="active">
        <a class="pagination-item"
          [routerLink]="item.url"
          [ngClass]="{'active': item.orderNumber === activePage}"
          *ngFor="let item of items"
          (click)="toPage(item.orderNumber)">{{item.orderNumber}}</a>
      </ex-button-decorator>
    </div>
    <a class="pagination-item" rel="next"
      [routerLink]="nextPageItem.url"
      (click)="nextPage()">Далее</a>
  </div>
</div>
