<div class="content-wrapper">
  <main class="main">
    <ex-line-spinner [wait]="wait"></ex-line-spinner>
    <div class="article-head" *ngIf="article">
      <div class="article-title" role="heading">{{article.title}}</div>
      <div class="info">
        Дата:
        <time datetime="article.publicationDate" class="active"
          >{{article.publicationDate | date: 'dd.mm.yyyy'}}</time
        >
        Просмотров: <span class="active">{{article.views}}</span>
      </div>
      <div class="article-rating">
        <ex-rating
          *ngIf="rating"
          [value]="rating.avarage"
          [readonly]="rating.isAppreciated"
          (change)="setRating($event)"
        ></ex-rating>
        <div *ngIf="rating" class="rating-value">({{rating.avarage || '0.0'}})</div>
      </div>
    </div>
    <article class="content">
      <ex-spinner [wait]="wait"></ex-spinner>
      <markdown [data]="article?.content"></markdown>
    </article>
    <div class="content">
      <ex-comment-tree
        [waitComments]="commentsWait"
        [comments]="comments"
        (delete)="deleteComment($event)"
        (update)="updateComment($event)"
        (new)="saveNewComment($event)"
      >
      </ex-comment-tree>
    </div>
  </main>
  <aside class="right"></aside>
</div>
