.account-wrapper {
    height: 100%;
    .account-content {
        height: calc(100% - 104px);
        display: flex;
        .content {
            padding: 2em 8em;
            width: 100%;
        }
    }
}