<div class="full">
  <form [formGroup]="form" (submit)="submit()" class="reg-form">
    <h1>Вход:</h1>
    <ex-input>
      <input class="ex-inp" id="reg-email" formControlName="email" autofocus autocomplete="off" type="text"
        placeholder="Ваш email">
    </ex-input>
    <ex-input>
      <input formControlName="password" type="{{hidePsw ? 'password' : 'text'}}" placeholder="Ваш пароль">
       <i class="la" [ngClass]="{'la-eye': hidePsw, 'la-eye-slash': !hidePsw}" (click)="hidePsw = !hidePsw"></i>
    </ex-input>
    <div class="btn">
      <button type="submit">Войти</button>
    </div>
    <div class="reg-links">
      <a routerLink="/registration">Еще не с нами?</a>
      <a routerLink="/authorization/forgot">Забыли пароль?</a>
    </div>
  </form>
</div>
