<nav class="main-menu" role="navigation">
  <div class="logo">
    <a routerLink="/" class="menu-item name">eXlight</a>
  </div>
  <div class="items-wrapper">
    <div class="item-decorator" *ngIf="leftDec" [style.left.px]="leftDec"></div>
    <a *ngFor="let item of menuItems; let i = index" 
      [routerLink]="item.route" role="link"
      class="menu-item"
      [rel]="item.rel">{{item.name}}</a>
  </div>
  <div class="gamburger" (click)="openMobileMenu($event)">
    <fa-icon [icon]="MENU_ICO" class="icon"></fa-icon>
  </div>
</nav>
<div class="pillow"></div>
