@import '../../variables';

.main-menu {
  display: flex;
  background: $blocks-color-bg;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
  box-shadow: $box-shadow;
  .logo {
    .name {
      cursor: pointer;
      padding: 1em;
      font-family: $elements-text;
      color: $element-text-color;
      animation-name: animation-logo;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      text-transform: none;
      font-size: 1.2em;
    }
  }
  .items-wrapper {
    display: flex;
    position: relative;
    .item-decorator {
      position: absolute;
      height: 100%;
      background: $active-element-bg;
      z-index: 1;
      transition: .3s width, .5s left;
      box-shadow: 0 0 10px $active-element-bg;
    }
    .menu-item {
      z-index: 2;
      cursor: pointer;
      font-family: $elements-text;
      padding: 1em;
      color: $element-text-color;
      font-size: 1.2em;
      text-transform: uppercase;
      text-shadow: $text-shadow;
    }
    .menu-item:hover {
      animation-name: HoverItemPulce;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  }
}
