@import 'src/styles/variables';
$menu-item-p: 20px;
$menu-item-w: 45px;
$item-font-size: 1.2em;

.main-menu {
  display: flex;
  background: $blocks-color-bg;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
  box-shadow: $box-shadow;
  font-weight: bold;

  .logo {
    .name {
      cursor: pointer;
      display: block;
      text-decoration: none;
      padding: 1em;
      font-family: $elements-text;
      color: $element-text-color;
      animation-name: animation-logo;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      text-transform: none;
      font-size: $item-font-size;
    }
  }

  .items-wrapper {
    .menu-item {
      text-decoration: none;
      text-align: center;
      width: $menu-item-w;
      padding: $menu-item-p;
      z-index: 2;
      cursor: pointer;
      font-family: $elements-text;
      color: $element-text-color;
      font-size: $item-font-size;
      text-transform: uppercase;
      text-shadow: $text-shadow;
    }

    .menu-item:hover {
      animation-name: HoverItemPulce;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  }

  .gamburger {
    display: none;
  }
}

/**
 * Extra small devices
**/
@media (min-width: $min-exs) and (max-width: $max-exs) {
  .main-menu {
    width: 100%;
    z-index: 4;
    position: fixed;

    .logo {
      .name {
        padding: .5em 1em;
      }
    }

    .items-wrapper {
      display: none;

      .menu-item {
        padding: .5em 1em;
      }
    }

    .gamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $item-font-size + 1em;
    }
  }

  .pillow {
    height: $item-font-size + 1em;
  }
}
