<ex-account-page-wrapper
  [menuItems]="MENU_ITEMS"
  sectionName="Управление аккаунтом"
>
  <ex-photo-uploader
    [extensions]="['jpeg', 'jpg', 'png']"
    (upload)="uploadFile($event)"
    (error)="fileUploadError($event)"
  ></ex-photo-uploader>
  <form [formGroup]="form">
    <label for="firstname">Имя</label>
    <ex-input>
      <input
        type="text"
        id="firstname"
        formControlName="firstname"
        placeholder="Имя"
      />
    </ex-input>
    <label for="secondname">Фамилия</label>
    <ex-input>
      <input
        type="text"
        id="secondname"
        formControlName="secondname"
        placeholder="Фамилия"
      />
    </ex-input>
  </form>
</ex-account-page-wrapper>
