<div class="content-wrapper">
  <div class="main">
    <ex-catalog-menu [showMenu]="true"
    [catalogName]="'Каталог статей'"
    [categories]="categories"
    [currentpage]="articlesSrv.pagination.currentPage"
    (selectedCat)="selectedCatHandler($event)"></ex-catalog-menu>
    <div class="articles">
      <ex-articles *ngFor="let article of articles"
      [article]="article" (navigate)="navigateToArticle($event)"></ex-articles>
    </div>
    <ex-pagination [itemCount]="articlesSrv.pagination.total" 
      [onPage]="itemsOnPage"
      [activePage]="page"
      (selectPage)="setActivePage($event)"></ex-pagination>
  </div>
  <div class="right"></div>
</div>
