<div class="ex-comment-item">
  <div>
    <img class="ex-avatar" src="assets/no-photo.png" alt="User avatar">
  </div>
  <div class="ex-comment-content">
    <div class="ex-comment-head">
      <div class="ex-comment-author">
        <a href="">Иван Петров</a>
      </div>
      <div class="ex-comment-time">
        <time>22 августа 2019 17:55</time>
      </div>
    </div>
    <div class="ex-comment-body">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae esse autem porro cupiditate sit dignissimos placeat
      corporis minima, doloribus reprehenderit facilis! Veniam consequuntur voluptatum est iusto esse nesciunt atque
      explicabo!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non voluptatem deserunt maiores eos minima corrupti
      suscipit, cum perspiciatis blanditiis fugiat culpa distinctio delectus quo est ea officiis similique corporis
      repudiandae.
    </div>
    <div class="ex-comment-footer">
      <button class="comment-action" (click)="answerToComment()">Ответить</button>
      <button class="comment-action" (click)="deleteComment()">Удалить</button>
    </div>
  </div>
</div>