@import 'src/styles/variables';

.ex-comment-item {
  display: flex;

  .ex-avatar {
    border-radius: 50%;
    width: 55px;
    height: 55px;
  }

  .ex-comment-content {
    width: 100%;
    .ex-comment-head {
      display: flex;
      justify-content: space-between;
      .ex-comment-info {
        display: flex;
        .ex-comment-author {
          margin: 0 0.5rem;
        }

        .ex-comment-time {
          font-family: $elements-text;
          font-weight: bold;
        }
      }
      .ex-comment-actions {
        display: flex;
      }
    }

    .ex-comment-body {
      margin: 1rem 0.5rem;
    }

    .ex-comment-footer {
      display: flex;
      margin: 0 0.5rem;
    }
  }
  .comment-action {
    background: transparent;
    font-family: $elements-text;
    color: $links-text-color;
    font-weight: bold;
    border: none;
    cursor: pointer;
    &:focus {
      outline-color: $links-text-color;
    }
    &:disabled {
      color: $disabled-item-color;
    }
  }
}
