<div class="ex-comment-item">
  <div>
    <img
      class="ex-avatar"
      *ngIf="!comment.user.avatar"
      src="assets/no-photo.png"
      alt="User avatar"
    />
    <img
      class="ex-avatar"
      *ngIf="comment.user.avatar"
      [src]="comment.user.avatar"
      [alt]="comment.user.userName"
    />
  </div>
  <div class="ex-comment-content">
    <div class="ex-comment-head">
      <div class="ex-comment-info">
        <div
          class="ex-comment-author"
          [ngClass]="{ disabled: comment.updating }"
        >
          <a href="">{{ comment.user.userName }}</a>
        </div>
        <div class="ex-comment-time" [ngClass]="{ disabled: comment.updating }">
          <time *ngIf="!comment.updateDate">{{
            comment.createDate | date: 'dd MMMM yyyy HH:mm'
          }}</time>
          <time *ngIf="comment.updateDate">{{
            comment.updateDate | date: 'dd MMMM yyyy HH:mm'
          }}</time>
        </div>
        <div class="ex-comment-edited" *ngIf="comment.edited">Изменено</div>
        <ex-spinner [wait]="comment.updating" [size]="1"></ex-spinner>
      </div>
      <div class="ex-comment-actions">
        <ng-container
          *ngIf="!comment.comments.length && currentUserId === comment.user.id"
        >
          <button
            class="comment-action"
            [disabled]="comment.updating"
            (click)="editComment()"
          >
            <i class="la la-pencil"></i>
          </button>
          <button
            class="comment-action"
            [disabled]="comment.updating"
            (click)="deleteComment()"
          >
            <i class="la la-trash"></i>
          </button>
        </ng-container>
        <button
          title="Мне нравится"
          class="comment-action like"
          [ngClass]="{ active: true }"
          [disabled]="comment.updating"
          (click)="likeComment()"
        >
          <span class="like-count">{{ comment.likeCount }}</span
          >&nbsp;
          <i class="la la-heart"></i>
        </button>
      </div>
    </div>
    <div class="ex-comment-body" [ngClass]="{ disabled: comment.updating }">
      {{ comment.comment }}
    </div>
    <div class="ex-comment-footer">
      <button
        *ngIf="currentUserId !== comment.user.id && !comment.haveEditAnswer"
        class="comment-action"
        [disabled]="comment.updating"
        (click)="answerToComment()"
      >
        Ответить
      </button>
    </div>
  </div>
</div>
