@import 'src/styles/variables';

.button-decorator {
  position: relative;

  .decorator-content {
    display: flex;
  }

  .item-decorator {
    border-radius: $element-radius;
    position: absolute;
    height: 100%;
    background: $active-element-bg;
    z-index: 1;
    transition: .3s width, .5s left;
    box-shadow: 0 0 10px $active-element-bg;
  }
}
