<div class="content-wrapper">
  <div class="main">
    <div class="article-head">
      <div class="article-title">Титла</div>
      <div class="info">
        Дата: <span class="active">25.03.18</span>
        Просмотров <span class="active">302</span>
      </div>
    </div>
    <div class="content">

    </div>
    <div class="share">
      <div class="icon-wrapper">
        <div class="icon-item">
          <i class="fab fa-vk"></i>
        </div>
        <div class="icon-item">
          <i class="fab fa-facebook-f"></i>
        </div>
        <div class="icon-item">
          <i class="fab fa-google-plus-g"></i>
        </div>
        <div class="icon-item">
          <i class="fab fa-twitter"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="right"></div>
</div>
