<div class="container" (click)="hideSideNav()" (swipeleft)="showSideNav($event)">
  <ex-menu (sidenavToogle)="toogleSidenav()"></ex-menu>
  <div class="content-wrapper">
    <main [ngClass]="{'full': !showAside, 'no-bg': haveNoBg}">
      <section>
        <div class="twitch">
          <iframe src="https://player.twitch.tv/?channel=only_exlight" frameborder="0" allowfullscreen="true"
            scrolling="no" height="378" width="620" class="full"></iframe>
          <iframe src="https://player.twitch.tv/?channel=only_exlight" frameborder="0" allowfullscreen="true"
            scrolling="no" class="mobile"></iframe>
        </div>
        <div class="description">
          <h1>Блог находится в разработке</h1>
          <p>
            В данный момент сайт находиться в разработке. За процессом его разработки Вы можете понаблюдать на моем
            twitch канале.
            В ходе трансляции пишу проект, попутно разбирая работу с такими технологиями как:
          </p>
          <ul>
            <li>Angular 2+</li>
            <li>NodeJS</li>
            <li>NestJS</li>
            <li>PostgreSQL</li>
          </ul>
          <h1>Так же в ходе реализации пророботаем следующие особенности проекта</h1>
          <ul>
            <li>SEO в Angular SPA.</li>
            <li>Организуем тесную интеграцию с популярными социальными сетями.</li>
            <li>Реализуем собственный дизайн, компоненты UI и стили.</li>
            <li>Реализуем админ панель</li>
            <li>Реализация сервера на фраемворке NestJS</li>
            <li>Реализуем настраеваемую систему доступа</li>
            <li>Реалзуем автопубликацию в социальных сетях</li>
          </ul>
        </div>
      </section>
      <section>
        <div>
          <img src="assets/me.jpg" width="420" alt="Фото eXlight" class="full">
          <img src="assets/me.jpg" alt="Фото eXlight" class="mobile">
        </div>
        <div class="description">
          <h1>И пару слов о себе</h1>
          <p>Меня зовут Андрей, мне 24, я веб разработчик.
            Закончил Каргагандинский Государственный Университет по специальности Информатика направления Информатика и
            вычеслительная техника.
            Обучался в Томском Политехническом Университете по направлению Информационные системы. С 2017 года живу и
            работаю в городе Томск.
          </p>
          <p>Увлекаюсь музыкой, немного играю на гитаре, автор собсвенных стихов и песен. Провожу стримы посвещенные
            программированию.</p>
          <p>За почти 3 года поработал с такими технологиями и фреймворками как: Angular 2+, React, JQuery, NodeJS,
            Express, NestJS, MongoDB, PostgreSQL,
            и поучаствовал в качестве разработчика в около 10 проектах разной степени сложности.</p>
          <div class="social">
            <div *ngFor="let s of social" [title]="s.title">
              <a [href]="s.href">
                <fa-icon [icon]="s.icon" class="icon"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
  <ex-footer></ex-footer>
</div>
