<div class="slider">
  <div class="content-wrapper">
      <div class="content">
          <div class="content-head">Заголовок</div>
          <div class="content-body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, minus eum! Ipsum explicabo autem commodi minus, debitis incidunt at odit quia. Ex dolorum consequatur ab reprehenderit vitae facere, assumenda nihil laudantium laborum repellat adipisci inventore necessitatibus placeat natus soluta a, quos neque porro eveniet dolores perferendis atque eos voluptas hic.
          </div>
          <div class="content-footer">
            <span class="link" role="link">Читать подробнее...</span>
          </div>
      </div>
  </div>
  <div class="controls">
      <div class="controls-wrapper">
          <div class="controll">Назад</div>
          <div class="controll">1</div>
          <div class="controll">2</div>
          <div class="controll">3</div>
          <div class="controll">Далее</div>
      </div>
  </div>
</div>
