@import 'src/styles/variables';
.media-item {
  background: #ffffff;
  box-shadow: $box-shadow;
  margin: 0.5em;
  width: 200px;
  height: 300px;
  .cover {
    img {
      width: 200px;
      height: 200px;
    }
  }
  .media-info {
    color: #000000;
    font-family: $elements-text;
    padding: 1em;
    .media-info-head {
      display: flex;
      .media-title {
        margin-right: 1em;
      }
      .icons {
        display: flex;
        .play {
        }
        .download {
        }
      }
    }
    .media-info-body {
      .shows {
      }
      .media-discription {
      }
    }
  }
}
