<div class="footer">
    <div class="footer-menu">
        <div class="footer-menu-items">
            <div class="footer-menu-item"
              routerLink="/"
              role="link">Главная</div>
            <div class="footer-menu-item"
              routerLink="/catalog"
              role="link">Каталог</div>
            <div class="footer-menu-item"
              routerLink="/video"
              role="link">Видео</div>
            <div class="footer-menu-item"
              routerLink="/photo"
              role="link">Фото</div>
            <div class="footer-menu-item"
              routerLink="/music"
              role="link">Музыка</div>
            <div class="footer-menu-item"
              routerLink="/about"
              role="link">Ссылки</div>
        </div>
    </div>
    <div class="info">
        <div>Керничный Андрей. 2015-2018 гг.</div>
        <div>
            <span class="link">snow-storm.ru</span> - старая версия</div>
        <div>
            <span class="link">develop.exligth.name</span> - по вопросам разработки</div>
        <div>
            <span class="link">exligth.name</span> - блог разработчкиа о творчестве, музыке, поэзии, программировании и событиях в жизни.</div>
        <div>Копирование материалов с сайта разрешено только с согласия автора и владельца сайта. © По всем вопросам и
            предложениям обращатся на admin@exligth.ru</div>
    </div>
</div>
