<div class="content-wrapper">
  <div class="main">
    <ex-catalog-menu [showMenu]="false"
    [catalogName]="'Каталог музыки'"
    [currentpage]="currentpage"></ex-catalog-menu>
    <div class="media-catalog">
        <ex-media-catalog *ngFor="let mItem of mediaItems"
          [mediaItem]="mItem" ></ex-media-catalog>
    </div>
    <ex-pagination [itemCount]="30"
      [onPage]="15"
      [activePage]="1"
      (selectPage)="setActivePage($event)"></ex-pagination>
  </div>
  <div class="right">
    <ex-audio-player></ex-audio-player>
  </div>
</div>
