<div class="audio-player">
  <div class="player">
    <div class="audio-cover">
      <img src="assets/albom.jpg" alt="">
    </div>
    <div class="audio-manager">
      <div class="player-buttons">
        <div class="player-button"
        (click)="prevTrack()">Назад</div>
        <div *ngIf="!isPlay"
        class="player-button active"
        (click)="play()">Играть</div>
        <div *ngIf="isPlay"
        class="player-button active"
        (click)="pause()">Пауза</div>
        <div class="player-button"
        (click)="nextTrack()">Вперед</div>
      </div>
      <div class="player-volume">
        <div class="volume-title">Громкость</div>
        <div class="volume-navigator">
          <div class="navigator"></div>
        </div>
      </div>
      <div class="player-navigation">
        <div class="audio-navigator"></div>
      </div>
    </div>
  </div>
  <div class="list">
    <div class="playlist">
      <div class="track"
      *ngFor="let track of tracks"
      [ngClass]="{active: track.id === currentTrack?.id}"
      (click)="playTrack(track)">
        <div class="performer">{{track.performer}}</div>
        <div> - </div>
        <div class="name">{{track.name}}</div>
      </div>
    </div>
  </div>
</div>
