@import '../../variables';
.audio-player {
  background: $alt-block-color-bg;
  .player {
    height: 5.5em;
    display: flex;
    .audio-cover {
      img {
        width: 5.5em;
        height: 5.5em;
      }
    }
    .audio-manager {
      height: 100%;
      width: 100%;
      font-family: $elements-text;
      .player-buttons {
        cursor: pointer;
        display: flex;
        .player-button {
          &.active {
            background: $active-element-bg;
          }
          color: $element-text-color;
          background: $blocks-color-bg;
          width: 100%;
          text-align: center;
          padding: .5em;
        }
      }
      .player-volume {
        display: flex;
        padding: .5em;
        .volume-title {
          margin-right: .5em;
        }
        .volume-navigator {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          .navigator {
            height: 1em;
            width: 100%;
            background: $active-element-bg;
          }
        }
      }
      .player-navigation {
        padding: 0em .5em .5em .5em;
        .audio-navigator {
          height: .5em;
          background: $active-element-bg;
          width: 100%;
        }
      }
    }
  }
  .list {
    height: 20em;
    .playlist {
      overflow-y: auto;
      height: 18em;
      .track {
        cursor: pointer;
        padding: .5em 1em;
        &.active {
          background: $active-element-bg;
          color: $simple-text-color;
        }
        font-family: $simple-text;
        display: flex;
      }
    }
  }
}

input[type=range].navigator {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.7px 0;
}
input[type=range].navigator:focus {
  outline: none;
}
input[type=range].navigator::-webkit-slider-runnable-track {
  width: 100%;
  height:15px;
  cursor: pointer;
  background: #161616f5;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].navigator::-webkit-slider-thumb {
  box-shadow: 0 0 3px #fff;
  height: 15px;
  width: 15px;
  border-radius: 0px;
  background: $active-element-bg;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.7px;
}
input[type=range].navigator:focus::-webkit-slider-runnable-track {
  background: #161616f5;
}
input[type=range].navigator::-moz-range-track {
  width: 100%;
  height:15px;
  cursor: pointer;
  background: #161616f5;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].navigator::-moz-range-thumb {
  box-shadow: 0 0 3px #fff;
  height: 15px;
  width: 15px;
  border-radius: 0px;
  background: $active-element-bg;
  cursor: pointer;
}
input[type=range].navigator::-ms-track {
  width: 100%;
  height:15px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].navigator::-ms-fill-lower {
  background: #3c4040;
  border: 0px solid #010101;
  border-radius: 0px;
}
input[type=range].navigator::-ms-fill-upper {
  background: #161616f5;
  border: 0px solid #010101;
  border-radius: 0px;
}
input[type=range].navigator::-ms-thumb {
  box-shadow: 0 0 3px #fff;
  height: 15px;
  width: 15px;
  border-radius: 0px;
  background: $active-element-bg;
  cursor: pointer;
  height:15px;
}
input[type=range].navigator:focus::-ms-fill-lower {
  background: #161616f5;
}
input[type=range].navigator:focus::-ms-fill-upper {
  background: #161616f5;
}
