<div class="audio-player">
  <div class="player">
    <div class="audio-cover">
      <img src="assets/albom.jpg" alt="">
    </div>
    <div class="audio-manager">
      <div class="player-buttons">
        <div class="player-button"
        (click)="prevTrack()">Назад</div>
        <div *ngIf="true"
        class="player-button active"
        (click)="playTrack()">Играть</div>
        <div *ngIf="false"
        class="player-button active"
        (click)="pauseTrack()">Пауза</div>
        <div class="player-button"
        (click)="nextTrack()">Вперед</div>
      </div>
      <div class="player-volume">
        <div class="volume-title">Громкость</div>
        <div class="volume-navigator">
          <div class="navigator"></div>
        </div>
      </div>
      <div class="player-navigation">
        <div class="audio-navigator"></div>
      </div>
    </div>
  </div>
  <div class="list">
    <div class="playlist">
      <div class="track">
        <div class="performer">eXligth</div>
        <div> - </div>
        <div class="name">Твоя улыбка</div>
      </div>
      <div class="track active">
          <div class="performer">eXligth</div>
          <div> - </div>
          <div class="name">Твоя улыбка</div>
        </div>
    </div>
  </div>
</div>
