$active-element-bg: #cf3333;
$links-text-color: #cf3333;
$element-text-color: #ffffff;
$simple-text-color: #ffffff;
$blocks-color-bg: #161616f5;
$alt-block-color-bg: #ffffff;
$box-shadow: 0 0 1em #000000;
$active-box-shadow:  0 0 1em #cf3333;
$text-shadow: 0 0 0.1em #ffffff;

$simple-text: 'PT Sans Narrow', sans-serif;
$elements-text: 'Amatic SC', cursive;
