<ex-article-progress></ex-article-progress>
<div class="container" (click)="hideSideNav()" (swipeleft)="showSideNav($event)">
  <ex-menu></ex-menu>
  <div class="content-wrapper">
    <main [ngClass]="{'full': !showAside, 'no-bg': haveNoBg}">
      <router-outlet></router-outlet>
    </main>
    <aside class="right" *ngIf="showAside">
      <ex-profile-outside></ex-profile-outside>
    </aside>
  </div>
  <ex-footer></ex-footer>
</div>
<ex-share-content></ex-share-content>
<ex-side-nav></ex-side-nav>
<ngx-json-ld [json]="ldJsonSchema"></ngx-json-ld>

<!--<audio #htmlPlayer [src]="track?.fileUrl"
(ended)="trackEnd()"
(play)="trackPlay()"
(canplay)="play()"
(loadstart)="loadstart()"
(timeupdate)="timeupdate($event)"></audio>
-->
