<div class="ex-comment-control">
  <div class="ex-comment-r">
    <img class="ex-avatar" src="assets/no-photo.png" alt="User avatar" />
  </div>
  <div class="ex-comment-l">
    <div class="ex-comment-content">
      <form [formGroup]="form">
        <textarea
          placeholder="Комментарий..."
          class="ex-comment-area"
          formControlName="comment"
        ></textarea>
      </form>
    </div>
    <div class="ex-comment-footer">
      <button
        class="comment-action"
        [disabled]="comment.disabled"
        (click)="createComment()"
      >
        <span *ngIf="!isEdit">Отправить</span>
        <span *ngIf="isEdit">Сохранить</span>
      </button>
      <button
        class="comment-action"
        [disabled]="comment.disabled"
        *ngIf="isEdit"
        (click)="cancelEdit()"
      >
        <span>Отмена</span>
      </button>
    </div>
  </div>
</div>
