<div class="ex-comment-control">
  <div class="ex-comment-r">
    <img class="ex-avatar" src="assets/no-photo.png" alt="User avatar" />
  </div>
  <div class="ex-comment-l">
    <form [formGroup]="form">
      <div class="ex-comment-content">
        <textarea
          #area
          placeholder="Комментарий..."
          class="ex-comment-area"
          [formControl]="comment"
        ></textarea>
      </div>
      <div class="ex-comment-footer">
        <ng-container [ngSwitch]="type">
          <ng-container *ngSwitchCase="'new'">
            <button
              type="submit"
              class="comment-action"
              [disabled]="comment.disabled"
              (click)="sendComment()"
            >
              <span>Отправить</span>
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'edit'">
            <button
              type="submit"
              class="comment-action"
              [disabled]="comment.disabled"
              (click)="sendComment()"
            >
              <span>Сохранить</span>
            </button>
            <button
              type="button"
              class="comment-action"
              [disabled]="comment.disabled"
              (click)="cancelEdit()"
            >
              <span>Отмена</span>
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'answer'">
            <button
              type="submit"
              class="comment-action"
              [disabled]="comment.disabled"
              (click)="sendComment()"
            >
              <span>Отправить</span>
            </button>
            <button
              type="button"
              class="comment-action"
              [disabled]="comment.disabled"
              (click)="cancelEdit()"
            >
              <span>Отмена</span>
            </button>
          </ng-container>
        </ng-container>
      </div>
    </form>
  </div>
</div>
