@import '../../variables';

.article {
  padding: 0 1em;
  color: $element-text-color;

  .article-head {
    padding: .5em 0;

    a {
      font-size: 1.2em;
      font-weight: bold;
      color: $element-text-color;
      text-decoration: none;
      font-family: $elements-text;
      h1 {
        font-size: inherit;
      }
    }
  }

  .article-date {
    font-family: $simple-text;
    padding: .25em 0;
  }

  .article-discription {
    margin-left: 1em;
    font-family: $simple-text;
    padding: .5em 0;
  }

  .article-link {
    margin-left: 1em;
    padding: .5em 0;

    a {
      color: $links-text-color;
      text-decoration: none;
      font-family: $elements-text;
      font-weight: bold;
    }
  }
}
