@import '../../variables';
.article {
  padding: 0 1em;
  color: $element-text-color;
  .article-head {
    font-family: $elements-text;
    padding: .5em 0;
    font-size: 1.2em;
    font-weight: bold;
  }
  .article-date {
    font-family: $simple-text;
    padding: .25em 0;
  }
  .article-discription {
    margin-left: 1em;
    font-family: $simple-text;
    padding: .5em 0;
  }
  .article-link {
    cursor: pointer;
    margin-left: 1em;
    font-family: $elements-text;
    font-weight: bold;
    padding: .5em 0;
    color: $links-text-color;
  }
}
