<footer class="footer">
  <div class="footer-menu">
    <div class="footer-menu-items">
      <a class="footer-menu-item"
        *ngFor="let item of menuItems"
        [routerLink]="item.route"
        role="link"
        [rel]="item.rel">{{item.name}}</a>
    </div>
  </div>
  <div class="info">
    <div>
      <a rel="friend"
        href="http://develop.exligth.name"
        class="link">develop.exligth.name</a> - по вопросам разработки
    </div>
    <div>
      <a routerLink="/" class="link">exligth.name</a> - блог разработчкиа о творчестве, музыке, поэзии, программировании и
      событиях в жизни.</div>
    <div>Копирование материалов с сайта разрешено только с согласия автора и владельца сайта. © По вопросам и
      предложениям обращатся на <a class="link" href="mailto:admin@exligth.name">admin@exligth.name</a></div>
    <div>Керничный Андрей. 2015-{{year}} гг.</div>
  </div>
</footer>
