@import 'src/styles/variables';

.footer {
  box-shadow: $box-shadow;
  font-family: $simple-text;
  font-size: 1em;
  padding: 1em;
  color: $simple-text-color;
  background: $blocks-color-bg;
  .footer-menu {
    display: flex;
    justify-content: center;
    font-family: $elements-text;
    .footer-menu-items {
      display: flex;
      .footer-menu-item {
        color: $element-text-color;
        cursor: pointer;
        margin: 0 0.5em;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
      }
    }
  }
  .info {
    .link {
      text-decoration: none;
      cursor: pointer;
      font-family: $elements-text;
      color: $links-text-color;
      font-weight: bold;
    }
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .footer {
    .footer-menu {
      display: none;
    }
  }
}