@import 'src/styles/variables';

.share {
  color: $element-text-color;
  font-size: 1.8em;
  position: fixed;
  top: calc(50% - 113px);
  left: -65px;
  transition: left 0.5s;

  &.visible {
    left: 0;
    transition: left 0.5s;
  }

  .icon-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .icon-item {
      padding: 10px;
      text-align: center;

      .icon {
        transition: color 0.5s;
        cursor: pointer;
        text-shadow: none;
        &:hover {
          color: $active-element-bg;
          @include shadow-text($active-element-bg);
          transition: color, text-shadow 0.5s;
        }
      }
    }
  }
}

/**
 * Extra small devices
**/
@media (min-width: $min-exs) and (max-width: $max-exs) {
  .share {
    .icon-wrapper {
      .icon-item {
        font-size: 0.6em;
      }
    }
  }
}
