@import 'src/app/_variables';

.share {
  color: $element-text-color;
  font-size: 1.8em;
  position: fixed;
  top: calc(50% - 113px);
  left: -65px;
  transition: left .5s;

  &.visible {
    left: 0;
    transition: left .5s;
  }

  .icon-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .icon-item {
      padding: 10px;
      text-align: center;

      .icon {
        transition: color .5s;
        cursor: pointer;
        &:hover {
          color: $active-element-bg;
          transition: color .5s;
        }
      }

    }
  }
}

/**
 * Extra small devices
**/
@media (min-width: $min-exs) and (max-width: $max-exs) {
  .share {
    .icon-wrapper {
      .icon-item {
        font-size: .6em;
      }
    }
  }
}