@import 'src/app/_variables';
.share {
    color: $element-text-color;
    font-size: 1.8em;
    position: fixed;
    top: calc(50% - 113px);
    left: -65px;
    transition: left .5s;
    &.visible {
      left: 0;
      transition: left .5s;
    }
    .icon-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .icon-item {
        padding: .5em;
        text-align: center;
        cursor: pointer;
        &:hover {
          animation: textShadow 3s infinite;
        }
      }
    }
  }