@import '../../variables';
.pagination {
  padding: 1em;
  .pagination-wrapper {
    display: flex;
    .pagination-item {
      &.active {
        background: $active-element-bg;
      }
      cursor: pointer;
      padding: .5em 1em;
      font-family: $elements-text;
      color: $element-text-color;
      text-shadow: $text-shadow;
    }
  }
}
