<div class="content-wrapper">
  <div class="main">
    <app-catalog-menu [showMenu]="false"
    [catalogName]="'Каталог музыки'"
    [currentpage]="currentpage"></app-catalog-menu>
    <div class="media-catalog">
        <app-media-catalog *ngFor="let mItem of mediaItems"
          [mediaItem]="mItem" ></app-media-catalog>
    </div>
    <app-pagination [itemCount]="30"
      [onPage]="15"
      [activePage]="1"
      (selectPage)="setActivePage($event)"></app-pagination>
  </div>
  <div class="right"></div>
</div>
