@import 'src/styles/variables';

.spinner {
  position: absolute;
  height: 5px;
  width: 100%;
}

.articles {
  height: calc(100% - 15em);
  padding: 1em 2em;

  .empty {
    font-family: $elements-text;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
  }
}

/**
 * Extra small devices
 **/
@media (min-width: $min-exs) and (max-width: $max-exs) {
  .articles {
    min-height: 500px;
    padding: 1em;
  }
}

/**
 * Small devices
 **/
@media (min-width: $min-sm) and (max-width: $max-sm) {
  .articles {
    min-height: 500px;
  }
}
