<div class="content-wrapper">
  <div class="main">
    <app-catalog-menu [showMenu]="true"
    [catalogName]="'Каталог статей'"
    [categories]="categories"
    [currentpage]="page"
    (selectedCat)="selectedCatHandler($event)"></app-catalog-menu>
    <div class="articles">
      <app-articles *ngFor="let article of articles"
      [article]="article"></app-articles>
    </div>
    <app-pagination [itemCount]="total"
      [onPage]="itemsOnPage"
      [activePage]="page"
      (selectPage)="setActivePage($event)"></app-pagination>
  </div>
  <div class="right"></div>
</div>
