<nav class="main-menu" role="navigation">
  <div class="logo">
    <a routerLink="/" class="menu-item name">eXlight</a>
  </div>
  <div class="items-wrapper">
    <ex-button-decorator [activeIndex]="active">
      <a *ngFor="let item of menuItems"
        [routerLink]="item.route" role="link"
        class="menu-item"
        [rel]="item.rel || ''">{{item.name}}</a>
    </ex-button-decorator>
  </div>
  <div class="gamburger" *ngIf="menuItems && menuItems.length" (click)="openMobileMenu($event)">
    <fa-icon [icon]="MENU_ICO" class="icon"></fa-icon>
  </div>
</nav>
<div class="pillow"></div>
