@import 'src/styles/variables';
.content-wrapper {
  display: flex;
  min-height: 50em;
  margin: 1em 0;
  .main {
    box-shadow: $box-shadow;
    background: $blocks-color-bg;
    width: calc(100% - 1em - 300px);
    margin-right: 1em;
  }
  .right {
    width: 300px;
    background: $blocks-color-bg;
    box-shadow: $box-shadow;
  }
}
