<ex-account-page-wrapper [menuItems]="MENU_ITEMS" sectionName="Управление статьями">
  <form [formGroup]="form">
    <label for="title">Заголовок</label>
    <ex-input>
      <input type="text" id="title" placeholder="Заголовок статьи">
    </ex-input>
    <label for="description">Описание</label>
    <ex-input>
      <input type="text" id="description" placeholder="Краткое описание">
    </ex-input>
    <label for="url"></label>
    <ex-input>
      <input type="text" id="url" placeholder="URL">
    </ex-input>
    <ex-input>
      <input type="text" placeholder="Категория">
    </ex-input>
    <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
  </form>
</ex-account-page-wrapper>
