<div class="main-menu">
  <div class="logo">
    <div class="menu-item name">eXlight</div>
  </div>
  <div class="items-wrapper">
    <div routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      role="link"
      class="menu-item">Главная</div>
    <div routerLink="catalog/all/page/1"
      routerLinkActive="active"
      role="link"
      class="menu-item">Каталог</div>
    <div routerLink="/video"
      routerLinkActive="active"
      role="link"
      class="menu-item">Видео</div>
    <div routerLink="/music"
      routerLinkActive="active"
      role="link"
      class="menu-item">Музыка</div>
    <div routerLink="/photo"
      routerLinkActive="active"
      role="link"
      class="menu-item">Фото</div>
    <div routerLink="/about"
      routerLinkActive="active"
      role="link"
      class="menu-item">Ссылки</div>
  </div>
</div>
