@import 'src/styles/variables';

.account {
    height: 100%;
    .account-head {
        box-shadow: $box-shadow;
    }
    .content {
        height: 100%;
        display: flex;
        .menu {
            width: 4.5rem;
            height: 100%;
            box-shadow: $box-shadow;
        }
        .main {

        }
    }

}