<div class="ex-outside-profile">
  <div class="avatar">
    <img src="assets/no-photo.png" alt="Пользовательское фото" />
  </div>
  <div class="profile-content">
    <div class="welcome" *ngIf="user">
      <span>Добро пожаловать, </span>
      <a routerLink="/account/profile" *ngIf="user.id">{{ user.firstname }}</a>
      <span *ngIf="!user.id">Гость</span>
    </div>
    <div></div>
    <div class="profile-links">
      <a routerLink="/registration" *ngIf="!user.id">Регистрация</a>
      <a routerLink="/authorization" *ngIf="!user.id">Вход</a>
      <a routerLink="/registration" *ngIf="user.id">Выйти</a>
    </div>
  </div>
</div>
