@import '../../variables';

.slider {
  box-sizing: border-box;
  padding: 2em;
  height: calc(100vh - 4em);
  background-position: center;
  background-size: cover;
  transition: background-image 1s;
  display: flex;
  flex-direction: column;
  min-height: 600px;

  .content-wrapper {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    min-height: 600px;

    .content {
      padding: 1em;
      box-sizing: border-box;
      box-shadow: $box-shadow;
      width: 25em;
      height: calc(60% - 2em);
      min-height: 400px;
      background: $blocks-color-bg;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .top {
        display: flex;
        flex-direction: column;

        .content-head {
          font-family: $elements-text;
          font-weight: bold;
          color: $simple-text-color;
          padding: 0.5em 0;
          font-size: 1.6em;
        }

        .content-body {
          font-family: $simple-text;
          color: $simple-text-color;
        }
      }

      .content-footer {
        font-family: $elements-text;
        font-weight: bold;
        padding: 0.5em 0;
        color: $links-text-color;

        .link {
          cursor: pointer;
        }
      }
    }
  }

  .controls {
    display: flex;
    justify-content: center;

    .controls-wrapper {
      display: flex;
      box-shadow: $box-shadow;
      background: $blocks-color-bg;

      .item-wrapper {
        display: flex;
        position: relative;

        .number-controll {
          cursor: pointer;
          font-family: $elements-text;
          font-size: 1.2em;
          padding: 1em;
          color: $simple-text-color;
          font-weight: bold;
          text-shadow: $text-shadow;
          text-align: center;
          width: 1em;
          z-index: 2;
        }

        .item-decorator {
          position: absolute;
          width: 57px;
          height: 57px;
          background: $active-element-bg;
          z-index: 1;
          transition: .3s width, .5s left;
          box-shadow: 0 0 10px $active-element-bg;
        }
      }

      .controll {
        cursor: pointer;
        font-family: $elements-text;
        font-size: 1.2em;
        padding: 1em;
        color: $simple-text-color;
        font-weight: bold;
        text-shadow: $text-shadow;
        text-align: center;
        z-index: 2;
      }
    }
  }
}

/**
 * Extra small devices
**/
@media (min-width: $min-exs) and (max-width: $max-exs) {
  .slider {
    .content-wrapper {
      min-height: auto;
    }

    .controls {
      .controls-wrapper {
        .controll {
          padding: .5em;
        }

        .item-wrapper {
          .number-controll {
            padding: .5em;
          }
          .item-decorator {
            width: 38px;
            height: 38px;
          }
        }
      }
    }
  }
}