$active-element-bg: #cf3333;
$links-text-color: #cf3333;
$element-text-color: #ffffff;
$simple-text-color: #ffffff;
$blocks-color-bg: #101014f8;
$alt-block-color-bg: #ffffff;
$box-shadow: 0 0 1em #000000;
$active-box-shadow:  0 0 .5em #cf3333;
$text-shadow: 0 0 0.1em #ffffff;

$rating-active-color: #ffd700;
$rating-inactive-color: #ffffff;

$simple-text: 'PT Sans Narrow', sans-serif;
$elements-text: 'Amatic SC', cursive;

$element-radius: 2px;

$em: 16px;

$min-exs: 0px;
$max-exs: 575px;

$min-sm: 576px;
$max-sm: 767px;

$min-md: 768px;
$max-md: 991px;

$min-lg: 992px;
$max-lg: 1199px;

$min-elg: 1200px;