<div class="ex-comment-new" *ngIf="currentUserId">
  <div class="title">Добавить комментарий:</div>
  <ex-comment-control
    (send)="updateEditChanges($event)"
    [wait]="root.updating"
  ></ex-comment-control>
</div>

<div *ngIf="!currentUserId" class="ex-comment-no-auth">
  <div class="title">
    <a routerLink="/authorization">Войдите</a>, что бы оставить коментарий.
  </div>
</div>

<div class="ex-comments-items">
  <div class="title" *ngIf="root.comments.length">Комментарии:</div>
  <ex-spinner [wait]="waitComments"></ex-spinner>
  <ng-container
    *ngTemplateOutlet="treeTemplate; context: { items: root.comments, lvl: 0 }"
  ></ng-container>
</div>
<!--*ngIf="root.comments.length < total"-->
<div class="ex-comments-more">
  <a>Еще...</a>
</div>

<ng-template #treeTemplate let-items="items" let-lvl="lvl">
  <div *ngFor="let comment of items">
    <ng-container
      *ngTemplateOutlet="
        commentItemTemplate;
        context: { comment: comment, lvl: lvl }
      "
    ></ng-container>
  </div>
</ng-template>

<ng-template #commentItemTemplate let-comment="comment" let-lvl="lvl">
  <div [style.paddingLeft.px]="getPadding(lvl)" style="padding-bottom: 20px">
    <ex-commentary-item
      *ngIf="!comment.editable && comment.id"
      [currentUserId]="currentUserId"
      [comment]="comment"
      (delete)="deleteComment(comment)"
      (edit)="editComment(comment)"
      (answer)="answerToComment(comment)"
      (like)="likeComment(comment)"
      (dislike)="dislikeComment(comment)"
    >
    </ex-commentary-item>
    <ex-comment-control
      *ngIf="comment.editable || !comment.id"
      [autofocus]="true"
      [type]="comment.editable ? 'edit' : 'answer'"
      [wait]="comment.updating"
      [message]="comment.comment"
      (send)="updateEditChanges($event, comment)"
      (cancel)="cancelEdit($event, comment)"
    ></ex-comment-control>
  </div>

  <ng-container
    *ngTemplateOutlet="
      treeTemplate;
      context: { items: comment.comments, lvl: lvl * 1 + 1 }
    "
  >
  </ng-container>
</ng-template>
