<div class="media-item">
  <div class="cover">
    <img [src]="mediaItem.coverUrl" alt="">
  </div>
  <div class="media-info">
    <div class="media-info-head">
      <div class="media-title">{{mediaItem.title}}</div>
      <div class="icons">
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
        <div class="download">
            <i class="fas fa-cloud-download"></i>
        </div>
      </div>
    </div>
    <div class="media-info-body">
      <div class="shows">
        <span>Прослушано:</span>
        <span>{{mediaItem.shows}}</span>
      </div>
      <div class="media-discription">
        Подробнее...
      </div>
    </div>
  </div>
</div>
