@import '../../variables';
.content-wrapper {
  display: flex;
  min-height: 50em;
  margin: 1em 0;
  .main {
    box-shadow: $box-shadow;
    background: $blocks-color-bg;
    width: calc(100% - 1em - 300px);
    margin-right: 1em;
    .article-head {
      box-shadow: $box-shadow;
      padding: 1em;
      color: $element-text-color;
      font-family: $elements-text;
      font-weight: bold;
      .article-title, .info {
        padding: .5em 0;
        .active {
          color: $active-element-bg;
        }
      }
      .article-title {
        font-size: 1.4em
      }
    }
    .content {
      min-height: calc(100% - 12em);
      padding: 2em 8em;
    }
    .share {
      color: $element-text-color;
      font-size: 1.8em;
      .icon-wrapper {
        display: flex;
        justify-content: center;
        .icon-item {
          padding: .5em;
        }
      }
    }
  }
  .right {
    width: 300px;
    background: $blocks-color-bg;
    box-shadow: $box-shadow;
  }
}
